@charset "UTF-8";

body { 
  font: normal 16px Arial, Verdana, serif;
  text-align: left;
 }

h1#principal { 
  text-align: center;
  color: black; 
}

h2 { 
  text-align: left; 
}

.primeiro { color: #b61c1c; }
.segundo { color: #00FF00; }
.terceiro { color: #0000FF; }


p { text-align: justify; 
    text-indent: 20px;
}



